<h1 class="text-center">{{model.title}}</h1>

<dl>
    <dd>Category</dd><dt style={{model.titleStyles}}>{{model.category.title}}</dt>
    <dd>Date</dd><dt>{{model.date}}</dt>
</dl>

<div class="content">
    {{model.description}}
</div>